body{
	background-color: black;
	color: gray
}
h1{
	color:tan;
}
h2,h3,h4,h5,h6{
	color:white;
}
@font-face{
	font-family: "Tiza";
	font-style: normal;
	src: url("tiza.ttf");
}
a{
	text-decoration: none;
	font-size: x-large;
	color:white;
}
a:hover{
	text-decoration: underline;
	background-color: red;
}
a:active{
	text-decoration: none;
}



