header,footer{
	text-align:center;
}
header{
	font-family: 'PGP';
}
footer{
	font-weight: bold;
}
@font-face{
	font-family: "PGP";
	font-style: normal;
	src: url("PGP.ttf");
}
a{
	color: white;
}
a:link{
}
a:visited{
	color: black;
}
a:hover{
	font-weight: bold;
}
a:active{
		font-weight: normal;
		text-decoration: none;
}